<template lang="pug">
  div
    ul(v-if="items && items.length")
      li(v-for='item of items')
        p
          strong {{item.item.description}}
        p {{post.body}}

    ul(v-if="error & errors.length")
      li(v-for="error of errors") {{error.message}}
</template>

<script>
import axios from 'axios'

export default {
  name: 'app',
  data: () => ({
    items: [],
    errors: []
  }),

  //Fetch posts when component is created
  created() {
    axios.get(`http://services.runescape.com/m=itemdb_oldschool/api/catalogue/detail.json?item=2`)
      .then(response => {
        //JSON responses are automatically parsed.
        this.items = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  }
}

// export default {
//   name: 'app'
// }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
